require 'sinatra'

get '/' do
    '<form action="/">
       First name:<br>
       <input type="text" name="firstname" value="">
       <br>
       Last name:<br>
       <input type="text" name="lastname" value="">
       <br><br>
       <input type="submit" value="Submit">
     </form>'
     first = "#{params['firstname']}"
end
