<!DOCTYPE html>
<html>
<body>

<h2>Input Form</h2>

<form action="/">
  Input:<br>
  <input type="text" name="input" value=<%= input %>>
  <br>
  <input type="submit" value="Submit">
</form>

<p>
  The input was <%= input %>
</p>

</body>
</html>